<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/posts/new" style="background-color:aquamarine; color: white; font-size:20px;">go to write a new post</a>
  </body>
</html>
